<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="AppName" value="second-hand"/>
    <contextName>${AppName}</contextName>

    <!--控制台输出-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} | %m%n</pattern>
        </encoder>
    </appender>

    <!--文件输出-->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:\secondhand\code\logs\${AppName}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} | %m%n</Pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="console"/>
    </root>


</configuration>